.trade-item {
  position: relative;
}

.trade-item--selected {
  background-color: #f6f7fb;
}

.trade-item__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.trade-item__indicator {
  position: absolute;
  top: 27px;
  left: 7px;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: #9d9d9d;
}

.trade-item__indicator--unread {
  background-color: #63d0cb;
}

.trade-item__indicator--active {
  background-color: #d2d2d0;
}

.trade-item__method {
  font-size: 16px;
  margin-top: 10px;
}

.trade-item__amount {
  display: flex;
  justify-content: space-between;
}

.trade-item__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trade-item__status--paid {
  text-align: center;
  font-weight: bold;
  color: greenyellow;
}

.trade-item__status--not-paid {
  font-size: 12px;
}

.trade-item__avatar {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.trade_item__status--small {
  font-size: 14;
}